# Folders
developer/*
**/obj/*

# Files
build.err
build.log
build.wrn
BuildName.txt
__blddate__
__bldnum__
publish.log
*.lib
*.obj
*.bin
*.pdb
*.tlb
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.vcxproj*
*.sln
*.ninja
.ninja_log
x64/
Win32/
.vs/
out/